body {
  font-family: Helvetica;
  margin: 0;
  background-color: #FFF;
  box-sizing: border-box;
}

/* Text styles */

h1 {
  font-size: 46px;
}

h2 {
  font-size: 35px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 24px;
}

p {
  line-height: 1.7;

}

/* Navigation */

nav {
  height: 64px;
  padding: 0px 24px;
  background-color: White;
}

nav img {
  height: 54px;
  padding: 8px 0px;
  display: inline-block;
  position: absolute;
}

nav h5 {
  display: inline-block;
  padding-left: 50px;
  font-weight: normal;
  font-size: 20px;
  margin: 20px 0px;
  letter-spacing: 2px;
}

nav ul {
  display: inline-block;
  float: right;
  margin: 23px 0px;
}

nav li {
  display: inline;
  padding-left: 16px;
}

/* Banner section */

.banner {
  display: inline-flex;
  background-color: #e8e8e8;
  width: 100%;
  align-items: center;
}

.banner img {
  width: 56%;
  height: auto;
  padding: 32px 24px;
}

.learn {
  margin: 32px 24px;
  width: 30%;
}

.learn button {
  width: 100%;
  padding: 0px 0px;
  border: none;
}

/* Information Section */

.information {
  display: inline-flex;
  width: 100%;
}

.info-left  {
  width: 56%;
  padding: 32px 24px;
  border-right: 1px solid #e8e8e8;
}

.info-left img {
  width: 100%;
}

.info-right {
  width: 40%;
  padding-top: 17px;
}

.content-image-box {
  display: flex;
  border-bottom: 1px solid #e8e8e8;
  padding: 18px 0px 18px 18px;
  margin-bottom: 2px;
}

img.media-container {
  height: 100%;
  width: 35%;
}

.text-container {
  width: 65%;
  padding: 0 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.text-container p, .text-container h4 {
  margin: 0;
}

#last-child {
  background-color: #e8e8e8;
  border: none;
}

#second-child {
  border-top: 1px solid #e8e8e8;
  border-bottom: none;
}

/* Courses section */

.start-learning {
  background-color: #e8e8e8;
  width: 100%;
  padding: 32px 0;
}

.start-learning h2 {
  text-align: center;
  margin: 0 0 32px 0;
}

/* Course rows */

.course-row {
  display: inline-flex;
  padding: 0 72px;
  align-items: space-between;
}

.course-box {
  margin: 0 16px;
  background-color: #FFF;
  flex-basis: 33%;
}

.course-box p, .course-box h4 {
  margin: 0;
}

.course-box h4 {
  padding-bottom: 8px;
}

.course-box img {
  height: auto;
  width: 100%;
}

.row-text {
  padding: 16px 16px 24px 16px;
}

#row2 {
  margin-top: 16px;
}
