body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  background-color: #FFF;
  box-sizing: border-box;
  color: #444;
  font-size: 16px;
}

/* Text styles */

h1 {
  font-size: 48px;
  margin: 0;
  font-family: 'Vollkorn', serif;
  letter-spacing: 1.5px;
  color: #eba391;
}

h2 {
  font-size: 39px;
  font-family: 'Vollkorn', serif;
  letter-spacing: 1.5px;
}

h3 {
  font-size: 22px;
  font-weight: normal;
  color: #444;
}

h4 {
  font-size: 24px;
  letter-spacing: 1px;
}

h5 {
  color: #678273;
}

p {
  line-height: 1.7;
}

a {
  text-decoration: none;
  color: #444;
}

a:hover {
  color: #678273;
  font-style: italic;
}

.bold {
  font-weight: bold;
}

.light {
  font-weight: 300;
}

/* Colour styles */

.bw {
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}

.green {
  color: #678273;
}

.peach {
  color: #eba391;
}

.beige {
  color: #f5f2f0;
}

.white {
  color: #FFF;
}

.grey {
  color: #888;
}

/* Navigation */

nav {
  height: 64px;
  padding: 0px 24px;
  background-color: White;
}

nav img {
  height: 54px;
  padding: 8px 0px;
  display: inline-block;
  position: absolute;
}

nav h5 {
  display: inline-block;
  padding-left: 50px;
  font-weight: normal;
  font-size: 20px;
  margin: 20px 0px;
  letter-spacing: 2px;
}

nav ul {
  display: inline-block;
  float: right;
  margin: 23px 0px;
}

nav li {
  display: inline;
  padding-left: 16px;
  letter-spacing: 0.5px;
}

.mobile {
  display: none;
}

/* Banner section */

.banner {
  display: inline-flex;
  background-color: #f5f2f0;
  width: 100%;
  align-items: center;
}

.banner img {
  width: 56%;
  height: auto;
  padding: 32px 24px;
  border-radius: 50% 1%;
}

.learn {
  margin: 32px 24px;
  width: 30%;
}

.banner h3 {
  line-height: 1.5;
  margin: 20px 0 35px 0;
}

.learn button {
  width: 100%;
  padding: 0px 0px;
  border: none;
  background: #678273;
  color: #FFF;
  border-radius: 25px;
}

button:hover {
  background-color: #FFF;
  color: #678273;
  font-style: italic;
}

/* Information Section */

.information {
  display: inline-flex;
  width: 100%;
}

.information h2 {
  margin: 24px 0 0 0;
}

.info-left  {
  width: 56%;
  padding: 32px 24px;
  border-right: 1px solid #e8e8e8;
}

.info-left img {
  width: 100%;
  border-radius: 0;
}

.info-right {
  width: 40%;
  padding-top: 15px;
}

.content-image-box {
  display: flex;
  border-bottom: 1px solid #e8e8e8;
  padding: 18px 18px 18px 18px;
}

img.media-container {
  height: 100%;
  width: 35%;
  border-radius: 100%
}

.text-container {
  width: 65%;
  padding: 0 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.text-container h4, .text-container p {
  margin: 0 0 8px 0;
}


#last-child {
  background-color: #eba391;
  border: none;
}

#second-child {
  border-bottom: none;
}

/* Courses section */

.start-learning {
  background-color: #677567;
  width: 100%;
  padding: 50px 0;
}

.start-learning h1 {
  text-align: center;
  margin: 0 0 22px 0;
}

/* Course rows */

.course-row {
  display: inline-flex;
  padding: 0 72px;
  align-items: space-between;
  margin-top: 28px;
}

.course-box {
  margin: 0 16px;
  background-color: #FFF;
  flex-basis: 33%;
}

.course-box p, .course-box h4 {
  margin: 0;
}

.course-box p {
  color: #666;
  letter-spacing: 0.5px;
}

.course-box h4 {
  padding-bottom: 10px;
}

.course-box img {
  height: auto;
  width: 100%;
}

.row-text {
  padding: 16px 16px 24px 16px;
}

#row2 {
  margin-top: 28px;
}


.courses-mobile {
  display: none;
}

/* Thesis Exhibit */

.thesis {
  padding: 32px 0;
  width: 100%;
}

.thesis-flex {
  display: inline-flex;
  margin: 0;
  width: 100%;
}

.thesis h2 {
  text-align: center;
  margin: 0;
}

.thesis h4 {
  margin: 0;
  padding-bottom: 10px;
}

.thesis p {
  margin: 0;
}

video {
  width: 100%;
  padding-bottom: 24px;
}

.video-mobile {
  display: none;
}

.video-text {
  width: 90%;
}

.video-text h4 {
  color: #678273;
  letter-spacing: 1.5px;
  font-size: 28px;
}

.thesis a {
  margin: 8px 0 0 0;
}

#thesis {
  border: none;
}

#thesis.info-left {
  padding-bottom: 0;
  padding-left: 0;
  padding-left: 24px;
}

#thesis.content-image-box {
  background-color: #f5f2f0;
  margin: 32px 0 3px 0;
}

#thesis.info-right {
  padding-top: 0;
  padding-right: 24px;
}

/* Footer */

footer {
  padding: 0 24px;
  font-size: 13px;
  color: #b5b5b5;
  letter-spacing: 1px;
  height: 64px;
}

footer ul {
  float: right;
}

footer li {
  display: inline;
  margin-left: 10px;
}

footer p {
  float: left;
}

/* Media Queries */

@media only screen and (max-width: 768px) {

  .desktop {
    display: none;
  }

  .mobile {
    display: flex;
    background-color: White;
    justify-content: space-between;
    align-items: center;
  }

  nav img {
    position: static;
    height: 38px;
  }

}

@media only screen and (max-width: 450px) {

  .desktop {
    display: none;
  }

  .mobile {
    display: flex;
    background-color: White;
    justify-content: space-between;
    align-items: center;
  }

  nav img {
    position: static;
    height: 30px;
  }

  .banner {
    display: block;
  }

  .banner img {
    width: 100%;
    height: auto;
    padding: 0;
    border-radius: 0;
  }

  .learn {
    margin: 16px;
    padding-bottom: 20px;
    width: 92%;
  }

  .learn button {
    width: 100%;
    padding: 0;
  }

  h2 {
    font-size: 25px;
  }

  h1 {
    font-size: 35px;
    text-align: center;
  }

  h4 {
    font-size: 19px;
  }

  .learn h3 {
    font-size: 20px;
    text-align: center;
    margin: 15px 0 28px 0;
  }

  #mobile.info-left {
    display: none;
  }

  #mobile.info-right {
    width: 100%;
    padding: 15px 0;
  }

  #mobile.course-row {
    display: none;
  }

  .start-learning {
    padding: 20px 0;
  }

  .courses-mobile {
    padding: 10px 16px;
    display: contents;
  }

  .start-learning h1 {
    margin: 0;
  }

  .start-learning h4 {
    background-color: #f5f2f0;
    margin: 0;
    padding: 18px 0 15px 18px;
    margin: 16px 16px;
  }

  .thesis-flex {
    display: none;
  }

  .thesis h2 {
    padding-bottom: 32px;
    font-size: 29px;
  }

  .video-mobile {
    display: contents;
  }

  video.mobile {
    padding: 0;
  }

  hr {
    display: none;
  }

  footer {
    height: auto;
  }

  footer ul {
    display: none;
  }
}
